@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    Layout = "../Shared/_ALayout";
    ViewBag.Title = "Beverage List";
    IPagedList<Beverage> beverages = ViewBag.Beverages;
    string[] fields = ["Id", "Name", "Price", "Stock", "Category Name"];
}

<form>
    @Html.TextBox("name", "",
            new { type = "search", autofocus = "", data_trim = "" })
    @Html.Hidden("sort")
    @Html.Hidden("dir")
    <button>Search</button>
</form>
<section>
    <button><a href="/Bev/BevAdd">Add Beverage</a></button>
</section>

<br>
<table class="table">
    <tr>
        @foreach (var f in fields)
        {
            string d = "asc";
            string c = "";

            if (f == ViewBag.Sort)
            {
                d = ViewBag.Dir == "des" ? "asc" : "des";
                c = ViewBag.Dir;
            }

            <th>
                <a href="?name=@ViewBag.Name&sort=@f&dir=@d" class="@c">@f</a>
            </th>
        }
    </tr>

    @foreach (var s in beverages)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Price</td>
            <td>@s.stock</td>
            <td>@s.Category.Name</td>
            <td>
                <button data-get="/Bev/BevUpdate/@s.Id">Update</button>
                <button data-post="/Bev/BevDelete/@s.Id">Delete</button>
            </td>
        </tr>
    }
</table>

@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    options.LinkToFirstPageFormat = "First";
    options.LinkToLastPageFormat = "Last";
    options.LinkToPreviousPageFormat = "Previous";
    options.LinkToNextPageFormat = "Next";
}

@Html.PagedListPager(
            beverages,
            page => $"?name={ViewBag.Name}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={page}",
            options
        )

<div class="info">@Html.Raw(TempData["Info"])</div>

